@model MissionSite.Models.Responce

@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<p>
    Fill out the form below to send us an email! Select the mission you have a question about for the subject and a returned missionary from that mission will get back to you with an answer. Select the "Other" subject to send us a general question.
</p>

<!--Contact Form-->
@using (Html.BeginForm("Insert", "Responce", FormMethod.Post))
{
    <h4>First Name</h4>
    @Html.TextBoxFor(m => m.FirstName);
    <h4>Last Name</h4>
    @Html.TextBoxFor(m => m.LastName);
    <h4>Email</h4>
    @Html.TextBoxFor(m => m.Email);
    <h4>Subject</h4>
    @Html.DropDownList("Subject", null, new { @id="DropDownList" })
    <h4>Message Body</h4>
    @Html.TextAreaFor(m => m.Message)
    <br /><br />
    <input type="submit" value="Submit">
}