@model MissionSite.Models.MissionMissionQuestions

@{
    ViewBag.Title = "Mission FAQ's";
}

<ul id="breadcrumbs-one">
    <li><a href="~/Home/Missions">Missions</a></li>
    <li class="active"><a>Mission FAQ's</a></li>
</ul>
<br />

<div class="container box">
    <h2>Mission Info</h2>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <img src="~/Content/Images/@Html.DisplayFor(ModelItem => Model.missions.FlagOrSymbol)">
        </div>
        <div class="col-md-8 col-sm-6 col-xs-12">
            <table>
                <tr>
                    <td>Mission Name:&nbsp&nbsp&nbsp&nbsp</td>
                    <td>@Html.DisplayFor(ModelItem => Model.missions.MissionName)</td>
                </tr>
                <tr>
                    <td>President:</td>
                    <td>@Html.DisplayFor(ModelItem => Model.missions.MissionPresName)</td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td>@Html.DisplayFor(ModelItem => Model.missions.MissionAddress)</td>
                </tr>
                <tr>
                    <td>Language:</td>
                    <td>@Html.DisplayFor(ModelItem => Model.missions.Language)</td>
                </tr>
                <tr>
                    <td>Climate:</td>
                    <td>@Html.DisplayFor(ModelItem => Model.missions.Climate)</td>
                </tr>
                <tr>
                    <td>Religion:</td>
                    <td>@Html.DisplayFor(ModelItem => Model.missions.DominantReligion)</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h2>Mission FAQs</h2>
        <p>*Denotes an unanswered question. Feel free to help out and answer a question!</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-offset-1">
        @foreach (var item in Model.missionQuestions)
        {
            using (Html.BeginForm("answerEdit", "Home", FormMethod.Post))
            {
                if (String.IsNullOrEmpty(item.Answer))//display differently if there's no answer
                {
                    <div class="row">
                        <strong><a data-toggle="collapse" href="#@Html.DisplayFor(modelItem => item.MissionQuestionsID).ToString()" aria-expanded="false" aria-controls="@Html.DisplayFor(modelItem => item.MissionQuestionsID).ToString()"><span class="glyphicon-plus"></span> @Html.DisplayFor(modelItem => item.Question).ToString() *</a></strong>
                        <div class="collapse" id="@Html.DisplayFor(modelItem => item.MissionQuestionsID).ToString()">
                            <div class="card card-block">
                                @Html.Hidden("QID", item.MissionQuestionsID)
                                @Html.Hidden("MID", Model.missions.MissionID)
                                &nbsp;&nbsp;Answer this quesion:<br />
                                &nbsp;&nbsp;@Html.TextArea("Answer") <br />
                                &nbsp;&nbsp;<input type="submit" value="Submit answer" />
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <strong><a data-toggle="collapse" href="#@Html.DisplayFor(modelItem => item.MissionQuestionsID).ToString()" aria-expanded="false" aria-controls="@Html.DisplayFor(modelItem => item.MissionQuestionsID).ToString()"><span class="glyphicon-plus"></span> @Html.DisplayFor(modelItem => item.Question).ToString() </a></strong>
                        <div class="collapse" id="@Html.DisplayFor(modelItem => item.MissionQuestionsID).ToString()">
                            <div class="card card-block">
                                @Html.Hidden("QID", item.MissionQuestionsID)
                            	@Html.Hidden("MID", Model.missions.MissionID)
								&nbsp;&nbsp;@Html.DisplayFor(modelItem => item.Answer)<br />
                                &nbsp;&nbsp;&nbsp;&nbsp;<a style="text-align:right;" data-toggle="collapse" href="#@Html.DisplayFor(modelItem => item.MissionQuestionsID).ToString()a" aria-expanded="false" aria-controls="@Html.DisplayFor(modelItem => item.MissionQuestionsID).ToString()a;">Edit answer</a>
                                <div class="collapse" id="@Html.DisplayFor(modelItem => item.MissionQuestionsID).ToString()a">
                                    &nbsp;&nbsp;@Html.TextArea("Answer")<br />
                                    &nbsp;&nbsp;<input type="submit" value="Submit Answer" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                }
            }
        }
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("questionEdit", "Home", FormMethod.Post))
        {
            @Html.HiddenFor(model => Model.missions.MissionID)
            <h2>Have more questions?</h2>
            <p>Post your question and let our returned missionaries respond with an answer!</p>
            @Html.EditorFor(model => Model.question.Question)
            @Html.HiddenFor(model => Model.missionQuestions)
            @Html.HiddenFor(model => Model.user.UserID)
            <br />
            <input type="submit" value="Submit question" />
        }
    </div>
</div>